<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="css/admin.css">
</head>
<body class="body">
    <%- include('partials/navbar'); %>
    
    <!-- Slider for products -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <!-- Add Products -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed orange fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <span>Add Product</span>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="add_product">
                        <form name="add">
                            <div class="form-group form_spacing input_name_desc">
                                <label for="name1">Name:</label>
                                <input type="text" class="form-control" name="name1_add" id="name_french_add" placeholder="French" required>
                                <input type="text" class="form-control" name="name2_add" id="name_english_add" placeholder="English" style="display: none;">
                            </div>
                            <div class="form-group form_spacing input_name_desc">
                                <label for="description1">Description:</label>
                                <input type="text" class="form-control" name="description1_add" id="desc_french_add" placeholder="French" required>
                                <input type="text" class="form-control" name="description2_add" id="desc_english_add" placeholder="English" style="display: none;">
                            </div>
                            <div class="form-group form_spacing">
                                <label for="quantity">Quantity:</label>
                                <input type="number" class="form-control" name="quantity_add" id="quantity_add" placeholder="(1, 2, 3, 4, 5, etc.)" required>
                            </div>
                            <div class="form-group form_spacing">
                                <label for="unit">Unit:</label>
                                <input type="text" class="form-control" name="unit_add" id="unit_add" placeholder="(150g, 250g, 500g, etc)">
                            </div>
                            <div class="form-group form_spacing">
                                <label for="quantity">Price:</label>
                                <input type="number" class="form-control" name="price_add" id="price_add" placeholder="Price" required>
                            </div>
                            <div class="form-group form_spacing">
                                <label for="item_picture">Picture Link:</label><br>
                                <input type="text" class="form-control" name="picture_add" id="item_picture_add" placeholder="Paste picture link here" required>
                            </div>
                            <div class="form-group form_spacing">
                                <label for="category">Category:</label>
                                <select class="form-control" id="category_add" name="category_add" required>
                                    <option>Honey</option>
                                    <option>Charcuterie</option>
                                    <option>Achard/Piments</option>
                                    <option>Snacks</option>
                                    <option>Pâtisserie</option>
                                </select>
                            </div>
                            <div class="btn_add">
                                <button type="reset">Reset</button>
                                <button type="submit" onclick="add_product()">Add</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Update Products -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed orange fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              <span>Update Product</span> 
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="update_product">
                    <form>
                        <div class="form-group form_spacing">
                            <label for="name">Products:</label>
                            <!-- <input type="number" class="form-control" name="product_id_update" id="product_id_update" placeholder="ID" required> -->
                            <select class="form-control" name="product_id_update" id="product_id_update"
                            onchange="retrieve_product(this.selectedOptions[0].value)" required >
                                <option disabled selected value> -- Select a product -- </option>
                                <%  if (productLists.length !== 0) { %>
                                    <% productLists.forEach((product, index) => { %>
                                        <option value="<%=product.product_id%>">
                                            <%=product.product_id%> - <%=product.product_name_fr%> (<%= product.unit %>)
                                        </option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group form_spacing input_name_desc">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" name="name1_update" id="name_french_update" placeholder="French" required>
                            <input type="text" class="form-control" name="name2_update" id="name_english_update" placeholder="English" style="display: none;">
                        </div>
                        <div class="form-group form_spacing input_name_desc">
                            <label for="description">Description:</label>
                            <input type="text" class="form-control" name="description1_update" id="description_french_update" placeholder="French" required>
                            <input type="text" class="form-control" name="description1_update" id="description_english_update" placeholder="English" style="display: none;">
                        </div>
                        <div class="form-group form_spacing">
                            <label for="quantity">Quantity:</label>
                            <input type="number" class="form-control" name="quantity_update" id="quantity_update" placeholder="(1, 2, 3, 4, 5, etc.)" required>
                        </div>
                        <div class="form-group form_spacing">
                            <label for="unit">Unit:</label>
                            <input type="text" class="form-control" name="unit_update" id="unit_update" placeholder="(150g, 250g, 500g, etc)">
                        </div>
                        <div class="form-group form_spacing">
                            <label for="price">Price:</label>
                            <input type="number" class="form-control" name="price_update" id="price_update" placeholder="Price" required>
                        </div>
                        <div class="form-group form_spacing">
                            <label for="item_picture_update">Picture Link:</label><br>
                            <input type="text" class="form-control" name="picture_update" id="item_picture_update" placeholder="Paste picture link here" required>
                        </div>
                        <div class="form-group form_spacing">
                            <label for="category_update">Category:</label>
                            <select class="form-control" id="category_update" name="category_update" required>
                                <option>Honey</option>
                                <option>Charcuterie</option>
                                <option>Achard/Piments</option>
                                <option>Snacks</option>
                                <option>Pâtisserie</option>
                            </select>
                        </div>
                        <div class="btn_update">
                            <button type="reset">Reset</button>
                            <button type="submit" onclick="update_product()">Update</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
        <!-- Remove Products -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed orange fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <span>Remove Product</span>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="remove_product">
                        <form>
                            <div class="form-group form_spacing">
                                <label for="name">Products</label>
                                <select class="form-control" name="product_id_remove" id="product_id_remove" required>
                                    <option disabled selected value> -- Select a product -- </option>
                                    <%  if (productLists.length !== 0) { %>
                                        <% productLists.forEach((product, index) => { %>
                                            <option><%=product.product_id%><%=' - '%><%=product.product_name_fr%> (<%= product.unit %>)</option>
                                        <% }) %>
                                    <% } %>
                                </select>
                            </div>
                            <div class="btn_remove">
                                <button onclick="remove_product()" class="form_spacing" id="remove_button" type="submit">Remove</button>
                            </div>
                        </form>
                    </div>
                </div>
          </div>
        </div>
        <!-- Add Customer -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed orange fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                <span>Add Customer</span>
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="customer_form">
                        <form>
                            <div class="form-group form_spacing">
                                <label for="first_name_customer">First Name:</label>
                                <input type="text" class="form-control" name="first_name_customer" id="first_name_customer" placeholder="First Name" required>
                            </div>
                            <div class="form-group form_spacing">
                                <label for="last_name_customer">Last Name:</label>
                                <input type="text" class="form-control" name="last_name_customer" id="last_name_customer" placeholder="Last Name" required>
                            </div>
                            <div class="form-group form_spacing">
                                <label for="email_customer">Email:</label>
                                <input type="text" class="form-control" name="email_customer" id="email_customer" placeholder="Email" required>
                            </div>
                            <div class="form-group form_spacing">
                                <label for="phone_customer">Phone:</label>
                                <input type="number" class="form-control" name="phone_customer" id="phone_customer" placeholder="Phone" required>
                            </div>
                            <div class="form-group form_spacing">
                                <label for="address_customer">Address:</label>
                                <input type="text" class="form-control" name="address_customer" id="address_customer" placeholder="Address" required>
                            </div>
                            <div class="btn-customer">
                                <button type="reset">Reset</button>
                                <button type="submit" onclick="add_customer()" style="width: 140px;">Add Customer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Customer Table -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed orange fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                <span>Customer Table</span>
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="customer_table" id="table_customer">
                        <table class="table">
                            <thead class="table-light">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email</th>
                              </tr>
                            </thead>
                            <tbody>
                                <%  if (customerLists.length !== 0) { %>
                                    <% customerLists.forEach((customer,index) => { %>
                                        <tr>
                                            <th scope="row"><%=customer.customer_id%></th>
                                            <td><%=customer.first_name%></td>
                                            <td><%=customer.last_name%></td>
                                            <td><%=customer.address%></td>
                                            <td><%=customer.phone%></td>
                                            <td><%=customer.email%></td>
                                        </tr>
                                    <% }) %>
                                <% } %>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Order table -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed orange fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                <span>Order Table</span>
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="customer_table" id="table_customer">
                        <table class="table">
                            <thead class="table-light">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Order Status</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total Price</th>
                              </tr>
                            </thead>
                            <tbody>
                                <%  if (customerLists.length !== 0) { %>
                                    <% customerLists.forEach((customer,index) => { %>
                                        <tr>
                                            <th scope="row"><%= %></th>
                                            <td><%= %></td>
                                            <td><%= %></td>
                                            <td><%= %></td>
                                            <td><%= %></td>
                                            <td><%= %></td>
                                        </tr>
                                    <% }) %>
                                <% } %>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Calender -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed orange fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                  <span>Delivery Calendar</span>
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <div class="add_product">
                          <form name="add">
                              <div class="form-group form_spacing">
                                  <label for="date">Date:</label>
                                  <input type="date" class="form-control" name="date" id="date" required>
                              </div>

                              <div class="form-group form_spacing input_name_desc">
                                <label for="location">Location:</label>
                                <select class="form-control" id="location" name="location" required>
                                    <option disabled selected value> -- Select a location -- </option>
                                    <option>Cascavelle</option>
                                    <option>Rivière Noire</option>
                                    <option>Port Louis</option>
                                    <option>Curepipe</option>
                                </select>
                              </div>

                              <div class="form-group form_spacing input_name_desc">
                                  <label for="time_slot">Time Slot:</label>
                                  <select class="form-control" id="time_slot" name="time_slot" required>
                                      <option disabled selected value> -- Select a time slot -- </option>
                                      <option>Matin</option>
                                      <option>Après-midi</option>
                                  </select>
                              </div>

                              <div class="btn_add">
                                  <button type="reset">Reset</button>
                                  <button type="submit" id="push_calender" style="width: 160px;">Add to Calendar</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
        </div>
    </div>

    <%- include('partials/footer.ejs'); %>
    <script>
        const server_port = '<%= PORT %>';
        sessionStorage.setItem('server_port', server_port);

        let push_calender = document.getElementById('push_calender');
        push_calender.addEventListener('click', function(ev) {
            ev.preventDefault();

            add_to_calender();
        })
    </script>
    <script src="js/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>