<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="css/products.css">
</head>
<body class="body">
    <%- include('partials/navbar'); %>
    <div  id="google_translate_element"></div>

    <!-- Products -->

<div class="container-fluid">
    <div class="row">
      <main>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2 orange" style="font-family: 'Arial', cursive; font-size: 28px; font-weight: 900; color: rgb(125, 78, 36);">Produits</h1>
        </div>

        <% 
          let categories = [];

          productMenu.forEach(element => {
            categories.push(element.category)
          });
          categories = [...new Set(categories)]
          console.log(categories);
        %> 

        <div>
          <!-- The filter button -->
          <button id="filter-button" class="button">Filter</button>
          <div id="filter-container" class="filters">
            <ul class="filters__list">
              <li>
                <input id="Miel" type="checkbox" />
                <label for="Miel">Miel</label>
              </li>
              <li>
                <input id="Charcuterie" type="checkbox" />
                <label for="Charcuterie">Charcuterie</label>
              </li>
              <li>
                <input id="Patisserie" type="checkbox" />
                <label for="Patisserie">Patisserie</label>
              </li>
              <li>
                <input id="Snacks" type="checkbox" />
                <label for="Snacks">Snacks</label>
              </li>
              <li>
                <input id="Achard_&_Piment" type="checkbox" />
                <label for="Achard_&_Piment">Achard & Piment</label>
              </li>
            </ul>
          </div>
        </div>

        <div class="table-responsive">
            <div class=" d-flex justify-content-start flex-wrap">
                <%  if (productMenu.length != 0) { %>
                    <% productMenu.forEach((product, index) => { %>
                      <a href="product_description/<%=product.product_id%>" style="text-decoration: none; color:black">
                        <div class="card m-2" style="width: 18rem;">
                            <div class="img_product">
                              <img src="<%=product.picture%>" class="card-img-top" >
                            </div>
                            <div class="card-body">
                              <h5 class="card-title"><%=product.product_name_fr%></h5>
                              <h6>(<%= product.unit %>)</h6>
                              <p class="card-text">Rs<%=product.price%></p>
                              <% if (product.unit_in_stock === 0) { %>
                                <p class="card-text" style="color: red;">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16"><path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/><path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/></svg>
                                  En rupture de stock
                                </p>
                              <% } else { %> 
                                <p class="card-text"><b><%=product.unit_in_stock%></b> en stock</p>
                              <% } %> 
                              <div class="shop_btn">
                                <a href="product_description/<%=product.product_id%>" class="btn btn-primary">Détails</a>
                              </div>
                            </div>
                        </div>
                      </a>
                  <% }) %>
                <% } %>
              </div>
        </div>
      </main>
    </div>
  </div>

  <%- include('partials/footer.ejs'); %>
    
  <script type="text/javascript">
    function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'fr',includedLanguages: 'de,zh-CN,fr,en,hi',layout: google.translate.TranslateElement.InlineLayout.VERTICAL}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <script src="js/product.js"></script>
</body>
</html>