<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body class="body">
    <%- include('partials/navbar'); %>

    <!-- Description -->
    <div class="container_product d-flex justify-content-center" >
        <div><img id="productImage" alt="Product image"src="../images/<%=productMenu[0].picture%>"></div>
        <div class="container_description">
            <h3><%=productMenu[0].product_name_fr%> (<%= productMenu[0].unit %>)</h3>
            <p><%=productMenu[0].product_description_fr%></p>
            <% if (productMenu[0].unit_in_stock === 0) { %>
                <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg> Out of stock</p>
              <% } else { %> 
                <p class="card-text"><b><%=productMenu[0].unit_in_stock%></b> left in stock</p>
            <% } %> 
            <h3>Rs <span><%=productMenu[0].price%></span></h3>
            <h3 style="display:none;"><%=productMenu[0].product_id%></h3>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="20" value="1"> <br>
            <button class="buttons mt-3 attToCart grow" onclick="add_to_cart('<%=JSON.stringify(productMenu[0])%>')" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Add to cart</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
            <a type="button" class="close close_modal_x" data-bs-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            <a/>
            </div>
            <div class="modal-body text-center">
                <h3 class="orange">Votre article a été ajouté au panier!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close_modal" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    
    <%- include('partials/footer.ejs'); %>

    <script>
        function add_to_cart(product){

            let qty = document.getElementById('quantity').value;
            console.log(qty);
            let obj_product = JSON.parse(product);
            obj_product['qty'] = qty;

           console.log("Adding to cart:", obj_product);

            let cart = sessionStorage.getItem("cart");

            if (cart === undefined || cart === null){
                cart = [JSON.stringify(obj_product)];
            }
            else{
                cart = JSON.parse(cart);

                let product_exist = false;

                for (i in cart){
                    item = JSON.parse(cart[i]);
                    if (item.product_id == obj_product.product_id){
                        //cart[i].qty = obj_product.qty;
                        cart[i] = JSON.stringify(obj_product);
                        console.log(cart);
                        console.log("Product already in cart! Quantity updated!")
                        product_exist = true;
                        break;
                    }
                }

                if (!product_exist){
                    cart.push(JSON.stringify(obj_product));
                }
            }

            console.log(cart);
             sessionStorage.setItem("cart", JSON.stringify(cart));
        }
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>