<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tapestry&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Water+Brush&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="css/products.css">
    <title>Nadi'Miel Chamarel</title>
</head>
<body class="body">
    <!-- Navbar -->
    <div class="my_navbar">
        <nav class="navbar navbar-expand-md navbar-dark bg-warning text-dark" aria-label="Fourth navbar example">
            <div class="container-fluid container-fluid-flex">
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation " aria-current="page" href="/">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation active_nav" href="#">Produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="recipe">Recette</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="orders">Commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="/#contact-us">Contactez-nous</a>
                    </li>
                    </ul>
                </div>
            </div>
          </nav>
    </div>

    <!-- Products -->

<div class="container-fluid">
    <div class="row">

    
     
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <div class="nav flex-column">
            <h3 class="title orange">Catégorie</h3>
            <div class="p-1">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Miel
                </label>
              </div>
            </div>
            <div class="p-1">
              <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                  Snacks
              </label>
              </div>
            </div>
            <div class="p-1">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Achard & Piment
                </label>
              </div>
            </div>
            <div class="p-1">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Charcuterie
                </label>
              </div>
            </div>
          </div>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2 orange">Produits</h1>
        </div>

        <div class="table-responsive">
            <div class=" p-2 d-flex justify-content-start flex-wrap">
                <%  if (productMenu.length != 0) { %>
                    <% productMenu.forEach((product,index) => { %>
                      <a href="product_description/<%=product.product_id%>" style="text-decoration: none; color:black">
                        <div class="card m-2" style="width: 18rem;">
                            <div class="img_product">
                              <img src="images/<%=product.picture%>" class="card-img-top" >
                            </div>
                            <div class="card-body">
                              <h5 class="card-title"><%=product.product_name_fr%></h5>
                              <h6>(<%= product.unit %>)</h6>
                              <p class="card-text">Rs<%=product.price%></p>
                              <% if (product.unit_in_stock === 0) { %>
                                <p class="card-text">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                                  Out of stock
                                </p>
                              <% } else { %> 
                                <p class="card-text"><b><%=product.unit_in_stock%></b> en stock</p>
                              <% } %> 
                              <div class="shop_btn">
                                <a href="product_description/<%=product.product_id%>" class="btn btn-primary">Shop Now</a>
                              </div>
                            </div>
                        </div>
                      </a>
                  <% }) %>
                <% } %>
              </div>
        </div>
      </main>
    </div>
  </div>

  <footer class=" text-center text-white" style="background-color: #fcbf56; bottom: 0; position: relative; width: 100%;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a href="https://www.facebook.com/NadiMiel/" target="_blank" style="text-decoration: none; margin: 15px;">
              <i class="fab fa-facebook-square fa-2x dark_brown"></i>
            </a>
    
        
            <!-- Instagram -->
            <a href="https://www.instagram.com/nadimiel_chamarel/?hl=en" target="_blank" style="text-decoration: none; margin: 15px;">
              <i class="fab fa-instagram-square fa-2x dark_brown"></i>
            </a>
    
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #fbaa19">
      <span class="dark_brown">
        © 2022 Designed with <span style="color: red">❤</span> by
        <a class="dark_brown" href="https://developers.institute/mu/" style="text-decoration: none;">Developers Institute</a>
      </span>
    </div>
    <!-- Copyright -->
  </footer>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>